.header {

  position: relative;
  width: auto;
  background: white;
  padding: $scale2;
  font-weight: 600;
  margin: $scale2*-1 $scale2*-1 $scale2 $scale2*-1;

  @media (max-width: $mobile){

    text-align: center;
    background: white;
    padding: $scale $scale;
    border: none;

  }

  @media (min-width: $mobile){

    h1 {

      font-size: $scale1;
      font-weight: 600;
      
    }
  }
}

:global(.dark){ 

  .header {

    background-color: $c-slate-900;
    border: 1px dotted $c-slate-800;

  }
}